{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content  %}

	<div class = "container">

{% if error_statement %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <strong>{{error_statement}}</strong> You should check in on some of those fields below.
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endif %}

	<h1>Subscribe to my newsletter!!</h1>
	<br/> <br/>
	<form action="/form" method="POST">
  <div class="mb-3">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="First Name", name = 'first_name', value="{{first_name}}">
  </div>

    <div class="mb-3">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="Last Name", name = 'last_name' , value="{{last_name}}">
  </div>

    <div class="mb-3">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="Email Address", name = 'email',  value="{{email}}">
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
	</div>

{% endblock %}